<h1>New Addition</h1>
<form action="/add_wizard">
  <label for="add-this_input">Add this:</label>
  <input id="add-this_input" name="first-input">

  <label for="to-this_input">to this:</label>
  <input id="to-this_input" name="second-input">

  <div>
    <button>Add!</button>
  </div>
</form>
