<h1>New Division</h1>
<form action="/division_wizard">
  <label for="divide-this_input">Divide this:</label>
  <input id="divide-this_input" name="first-input">

  <label for="by-this_input">by this:</label>
  <input id="by-this_input" name="second-input">

  <div>
    <button>Divide!</button>
  </div>
</form>
