<h1>New Multiplication</h1>
<form action="/multiplication_wizard">
  <label for="first-operand_input">Multiply this: </label>
  <input id="first-operand_input" name="first-operand">

  <label for="second-operand_input">by this: </label>
  <input id="second-operand_input" name="second-operand">

  <button>Multiply!</button>
</form>
