<h1>New Subtraction</h1>
<form action="/subtract_wizard">
  <label for="add-this_input">Subtract this:</label>
  <input id="add-this_input" name="first-input">

  <label for="from-this_input">from this:</label>
  <input id="from-this_input" name="second-input">

  <div>
    <button>Subtract!</button>
  </div>
</form>
